In [15]:
import pandas as pd
import numpy as np
from collections import Counter
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [16]:
# Take 1000 samples
xs = [np.random.randint(1, 5) for _ in range(1000)]
ys = [np.random.randint(1, 3) for _ in range(1000)]
# Count the (x, y) pairs and convert them to a dataframe
joint_dist_df = pd.DataFrame.from_dict(Counter(zip(xs, ys)), orient="index").reset_index()
joint_dist_df.columns = ["Event", "P(X, Y)"]
joint_dist_df["X"] = [e[0] for e in joint_dist_df["Event"]]
joint_dist_df["Y"] = [e[1] for e in joint_dist_df["Event"]]
# Compute the joint probability
joint_dist_df["P(X, Y)"] /= joint_dist_df["P(X, Y)"].sum()
joint_dist_df.sort_values(['X', 'Y'])

    Event  P(X, Y)  X  Y
1  (1, 1)    0.116  1  1
0  (1, 2)    0.141  1  2
6  (2, 1)    0.136  2  1
2  (2, 2)    0.129  2  2
4  (3, 1)    0.124  3  1
3  (3, 2)    0.120  3  2
7  (4, 1)    0.120  4  1
5  (4, 2)    0.114  4  2

In [6]:
marginal_x_dist_df = joint_dist_df.groupby("X")["P(X, Y)"].sum().reset_index()
marginal_x_dist_df.columns = ["X", "P(X)"]
marginal_x_dist_df.sort_values(['X'])

   X   P(X)
0  1  0.236
1  2  0.247
2  3  0.270
3  4  0.247

In [7]:
marginal_y_dist_df = joint_dist_df.groupby("Y")["P(X, Y)"].sum().reset_index()
marginal_y_dist_df.columns = ["Y", "P(Y)"]
marginal_y_dist_df.sort_values(['Y'])

   Y   P(Y)
0  1  0.491
1  2  0.509

In [8]:
for x_i in range(1, 5):
    print("For x_i =", x_i)
    _df = joint_dist_df[joint_dist_df["X"]==x_i].copy()
    _df = pd.merge(_df, marginal_x_dist_df, how="left", on="X")
    _sum = _df["P(X, Y)"].sum()
    _df["P(Y|X)"] = _df["P(X, Y)"] / _sum
    _df = _df.sort_values(['X', 'Y'])
    display(_df)

For x_i = 1

    Event  P(X, Y)  X  Y   P(X)  P(Y|X)
0  (1, 1)    0.118  1  1  0.236     0.5
1  (1, 2)    0.118  1  2  0.236     0.5

For x_i = 2

    Event  P(X, Y)  X  Y   P(X)    P(Y|X)
1  (2, 1)    0.118  2  1  0.247  0.477733
0  (2, 2)    0.129  2  2  0.247  0.522267

For x_i = 3

    Event  P(X, Y)  X  Y  P(X)    P(Y|X)
0  (3, 1)    0.126  3  1  0.27  0.466667
1  (3, 2)    0.144  3  2  0.27  0.533333

For x_i = 4

    Event  P(X, Y)  X  Y   P(X)    P(Y|X)
0  (4, 1)    0.129  4  1  0.247  0.522267
1  (4, 2)    0.118  4  2  0.247  0.477733

In [27]:
from sklearn.feature_selection import chi2
# The null hypothesis is that they are independent.
# P <= 0.05: Reject the null hypothesis.
# P > 0.05: Accept the null hypothesis.
chi2(np.array(xs).reshape(-1, 1), np.array(ys).reshape(-1, 1))

(array([0.81175444]), array([0.36760206]))